<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CSS Day 10th aniversary</title>
    <link rel="stylesheet" href="/style.css" />
    <script src="
    main.js"></script>
  </head>
  <body>
    <header>
      <div class="container">
        <div class="hero">
          <h1>CSSDAY 2024</h1>
          <div class="image-container">
            <img class="image-sticker" src="image.jpg" aria-hidden="true" />
            <img class="image-computer" src="computer.jpg" aria-hidden="true" />
            <button id="openModalBtn">Click me. <br />I have a message</button>
          </div>
          <div id="modal" class="modal">
            <div class="modal-content">
              <span class="close">&times;</span>
              <p>
                CSS Day is a focused, advanced CSS conference. Our attendees and
                speakers are a mix of CSS designers, developers, spec writers,
                and browser vendors, who take pride in what they know and do. We
                are a conference with an informal vibe and plenty of breaks,
                where anyone can approach anyone to discuss geeky stuff -
                including specifiers and implementers.
              </p>
              <p>
                Our 10th anniversary edition will take place on June 6 & 7,
                2024.
              </p>
            </div>
          </div>
        </div>
      </div>
    </header>

    <div class="slider-container">
      <div class="slider">
        <div class="slide-track">
          <% ['2013', '2014', '2015', '2016', '2017', '2018', '2019', '2022',
          '2023', '2024'].forEach(year => { %>
          <div class="slide" onclick="showSpeakers('<%= year %>')">
            <h3><%= year %></h3>
          </div>
          <% }); %>
        </div>
      </div>
    </div>

    <div id="years-container">
      <% Object.keys(data).forEach(year => { %> <% if (['2013', '2014', '2015',
      '2016', '2017', '2018', '2019', '2022', '2023', '2024'].includes(year)) {
      %> <% const yearData = data[year]; %>
      <div class="year" id="year-<%= year %>">
        <h2><%= year %></h2>
        <div class="searchbar">Search speakers name</div>
        <input type="text" class="speaker-search" placeholder="look for me" />

        <div class="speakers-container">
          <% yearData.speakers.forEach(function(speaker, index) { %>
          <div class="year-column">
            <div key="<%= index %>" class="speaker-card">
              <div class="speaker-info">
                <img
                  src="<%= speaker.avatar %>"
                  alt="Avatar of <%= speaker.name %>"
                  class="speaker-avatar"
                />
                <p class="speaker-name"><%= speaker.name %></p>
                <p class="speaker-country"><%= speaker.country %></p>
              </div>
              <div class="speaker-link">
                <a href="<%= speaker.link %>" class="speaker-button"
                  >Speaker Link</a
                >
              </div>
            </div>
          </div>
          <% }); %>
        </div>
      </div>
      <% } %> <% }); %>
    </div>
  </body>

  <footer></footer>
</html>
